html, body {
    margin: 0;
}

.nav-bar-button {
    display: block;
}

.modal-transparent {
    background: 0;
    border: none;
}

.modal-backdrop-clips {
    background-color: black !important;
    opacity: .9 !important;
}

/*@media screen and (max-width: 1000px){*/
    /*iframe {*/
        /*width: 820px;*/
        /*height: 460px;*/
    /*}*/
/*}*/
